@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400;700&display=swap');
*{ 
    margin: 0;
    padding: 0;
}

header{
    box-shadow: 6px 6px 20px #777777, -6px -6px 20px #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;

    color: #fff;
    background-color: #474747;
    font-family: 'Gemunu Libre', sans-serif;
}

header div{
    display: flex;
}
header img{
    width:100px;
    margin:5px 20px;
}

header   #filtro, header #pesquisa{
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
}

header  #filtro:hover{
    cursor: pointer;
    background: #141414;
}

header  #filtro img{
    margin: 0 10px 0 0;
    width: 40px;
    
}
header  #filtro{
    border: solid 2px #fff;
    font-size: 24px;
    width: 120px;
    height: 40px;
    border-radius: 5px;

    transition: 0.5s;
    

}

header  #pesquisa{
   
    font-size: 25px;
    width: 70%;
    color: #fff;

}

header  #pesquisa input{
    width: 40%;
    border: 0;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0 10px;
    font-size: 16px;

    background-image: url(./assets/search_black_24dp.svg);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: center;
}

header  #pesquisa p{
    width: 20%;
    text-align: center;
    font-weight: 700 ;
    margin: 0 10px 0 0;
}


main{
    margin: auto;
    margin-top: 15px;
    width: 90%;
}


main #banner h3, main #cardapio h3{
    font-size: 25px;
    font-family: 'Gemunu Libre', sans-serif;
    color:#141414;
    margin-bottom: 5px;
}
main #banner img{
    width:100%;
    height:600px;
    filter: brightness(70%);

}

main #banner #promocao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;

    z-index: 2;
    margin-top: -120px;
    margin-bottom: 80px;
    filter: brightness(100%);
}

main #banner #promocao h3{
    width: 250px;
    color: #fff;
    font-weight: 700;
    
}
main #banner #promocao button{
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 4px;
    color: #fff;
    background: #474747;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}

main #cardapio #itens{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main #cardapio #itens .card{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: solid 2px #141414;
    border-radius: 5px;
    width: 49%;
    height: 150px;

    margin-bottom: 10px ;

}
main #cardapio #itens .card img{
    width: 35%;
    height: 100%;
}

main #cardapio #itens .card .descricao{
    margin: 0 15px;
}
main #cardapio #itens .card .descricao h3,
main #cardapio #itens .card .descricao  p {
    margin: 40px 0;

    font-family: 'Gemunu Libre', sans-serif;
    color: #141414;
}

main #cardapio #itens .card .qtd-valor{
    margin-right: 15px;
}


main #cardapio #itens .card .valor{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ff0000;

}

main #cardapio #itens .card .qtd-valor .qtd{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 20px;
    font-weight: 700;

}
main #cardapio #itens .card .qtd-valor .qtd p{
    background-color: #141414;
    color: #fff;
    font-weight: 700;
    width: 28px;
    text-align: center;
    cursor: pointer;

}

main #cardapio #itens .card .qtd-valor .qtd .sub{
    border-radius:  5px 0 0 5px ; 
    transition: 0.5s;

}

main #cardapio #itens .card .qtd-valor .qtd .sub:hover,
main #cardapio #itens .card .qtd-valor .qtd .add:hover{
    background: #777777;
}



main #cardapio #itens .card .qtd-valor .qtd .add{
    border-radius: 0 5px 5px 0;
    transition: 0.5s;  
}

main #cardapio #itens .card .qtd-valor .qtd .quantia{
    background: #474747;
    cursor: default;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #565756;
    padding: 20px 0;
    box-shadow: 6px 6px 20px #777777, -6px -6px 20px #fff;
}

footer #logo, #links{
    width: 25%;
    text-align: center;
}


footer #logo img{
    width:130px ;
    
    
}

footer #pedido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 18px;
    width: 50%;
}


footer#pedido h3, footer #pedido p{
    padding: 3px 0;
}

footer #pedido img{
    width: 35px;
}

footer #pedido button{
    border: 0;
    width: 200px;
    height: 50px;
    border-radius: 5px;

    margin: 5px 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

footer #pedido #pedir{
    background: #141414;   
}

footer #pedido #pedir:hover{
    background: #c10000;
    transition: 0.5s;
}

footer #pedido #cadastrar:hover{
    background: #c10000;
    transition: 0.5s;
}


footer #pedido #cadastrar{
    background: #141414;
    
}

footer #pedido input{
    width: 265px;
    height: 30px;
    
    border: 0;
    border-radius: 5px;

    font-size: 18px;
    padding-left: 10px;
    color: #141414;

    background-image: url(./assets/inbox_white_24dp.svg);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: center;
    background-size: 25px;

}


footer #links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #links img{
    width: 40px;

    cursor: pointer;
    margin-top:5px ;
}

